<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Paiement confirmé</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div style="max-width:420px;margin:100px auto;
background:#020617;padding:30px;border-radius:16px;text-align:center;">

<h1 style="color:#22c55e;">💳 Paiement réussi</h1>

<p style="color:#22c55e;">Merci pour votre paiement.</p>
<p style="color:#22c55e;">Votre séance photo est confirmée 📸</p>

<a href="/" style="color:#38bdf8;font-weight:bold;">Retour à l’accueil</a>

</div>

</body>
</html>
